{
	"presets": [
		["@babel/preset-env", 
			{
				"corejs": 3,
				"useBuiltIns": "usage",
				"modules": "commonjs",
				"shippedProposals": true
			}
		],
		"@babel/preset-react",
		["@babel/preset-typescript"]
	]
}